{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Party invitation</h1>
    <font color="red" p class="lead">
        This party will be held at different venues, there will be two venues in total.
        For all questions about the event, write to the VK
    </font p>
    <p><a href="https://vk.com/pifchick" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <font color="white">
        <h2>The first place is Kuskovo Park</h2>
        <p>
            This is the first place where the party starts.
            In this park, you can feel the atmosphere of the forest
            and plunge into the world of barbecue and entertainment activities.
            You can also visit the famous Kuskovo estate.
        </p>
        </font>
        <p><a class="btn btn-default" href="http://kuskovo.ru/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <font color="white">
            <h2>The second venue is the famous Sean O'Neill on the Kuznetsky Bridge</h2>
            <p>
                This bar will have a table reserved for a certain number of people.
                Snacks and beer will also be brought out, which will be waiting for their guests.
            </p>
            <p><a class="btn btn-default" href="https://oneillspub.ru/">Learn more &raquo;</a></p>
        </font>
    </div>
    <div class="col-md-4">
        <font color="white">
            <h2>You can accept the invitation from the organizers at the link below</h2>
            <p>By clicking on the link you need to enter your full name and that's it.</p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </font>
    </div>
</div>

{% endblock %}
