{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<font color="white" address>
    <strong>Support:</strong>   <a href="https://vk.com/pifchick">Epifanov Anton</a><br />
    <strong>Marketing:</strong> <a href="epifanov.anton2015@mail.ru">epifanov.anton2015@mail.ru</a>
</font address>

{% endblock %}
